{% set current_lang = request.environ.CKAN_LANG %}
{% set current_page = request.environ.CKAN_CURRENT_URL %}
{# % set categories = h.ozwillo_theme_get_groups() % #}

<div class="categories container-fluid categories__row">
        <div class="container ">
            <div class="row ">

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/{{current_lang}}/group/administration-et-action-publique">
                        <img src="/images/ui/ADMINISTRATION_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-orange">{% trans %}Administration{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/{{current_lang}}/group/agriculture-sylviculture-et-peche">
                        <img src="/images/ui/AGRICULTURE_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-pink">{% trans %}Agriculture<br />& Alimentation{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/{{current_lang}}/group/amenagement-et-urbanisme">
                        <img src="/images/ui/URBANISME_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-purple">{% trans %}Aménagement du Territoire<br />& Urbanisme{% endtrans %}</span>
                    </a>
                </div> 
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/{{current_lang}}/group/culture-patrimoine-et-tourisme">
                        <img src="/images/ui/CULTURE_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-orange">{% trans %}Culture<br />Patrimoine<br />Tourisme{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/{{current_lang}}/group/economie-et-entreprises">
                        <img src="/images/ui/ECONOMIE_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-pink">{% trans %}Economie<br />& Entreprises{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/{{current_lang}}/group/formation-education-et-emploi">
                        <img src="/images/ui/EDUCATION_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-purple">{% trans %}Formation<br />Education<br />Emploi{% endtrans %}</span>
                    </a>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/{{current_lang}}/group/environnement-et-climat">
                        <img src="/images/ui/ENVIRONNEMENT_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-orange">{% trans %}Environnement<br />& Climat{% endtrans%}</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/{{current_lang}}/group/sante-et-sports">
                        <img src="/images/ui/SANTE_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-pink">{% trans%}Santé<br />& Sport{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/{{current_lang}}/group/sciences-recherche-et-innovation">
                        <img src="/images/ui/SPORT_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-purple">{% trans %}Sciences<br />Recherche<br />& Innovation{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="{{current_lang}}/group/equipements-batiments-et-logement">
                        <img src="/images/ui/TERRITOIRE_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-orange">{% trans%}Equipements<br />Bâtiments<br />Logement{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/{{current_lang}}/group/mobilite-et-transports">
                        <img src="/images/ui/TRANSPORT_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-pink">{% trans %}Transports<br />& Mobilité{% endtrans %}</span>
                    </a>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <a class="categories__card" href="/{{current_lang}}/group/citoyennete-et-democratie">
                        <img src="/images/ui/CITOYEN_NOIR.svg" alt="" class="responsive categories__card-img">
                        <span class="categories__card-title text-purple">{% trans %}Citoyenneté<br />& Démocratie{% endtrans %}</span>
                    </a>
                </div>
            </div>           
        </div>
    </div>
    
  
